html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ececec;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.header {
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 5px;
}

.subHeader {
    font-weight: bold;
    text-align: left;
    background-color: white;
    padding: 20px;
    margin: 10px 0 3px 0;
}

.toDoList {
    height: auto;
    background-color: white;
    padding: 5px;
}

.toDoList__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

@media(max-width:767px) {
    .toDoList__form {
        grid-template-columns: 1fr;
    }
}

.toDoList__form--newTask {
    flex-basis: 75%;
    flex-grow: 1;
    margin: 5px;
    border: 1px solid #ccc;
}

.toDoList__form--taskButton {
    flex-grow: 1;
    background-color: teal;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
}

.toDoList__form--taskButton:hover {
    background-color: hsl(180, 100%, 30%);
}

.list {
    background-color: white;
    padding: 10px;
    margin: auto;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    align-items: center;
}

.list__task {
    word-break: break-word;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.list__task--done {
    text-decoration: line-through;
}

.list__button {
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 0 10px;
    border: none;
    color: white;
    font-size: 16px;
}

.list__button--done {
    background-color: green;
}

.list__button--remove {
    background-color: red;
}