html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Mukta', sans-serif;
    background-color: rgba(218, 213, 213, 0.858);
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
}

.header {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 5px;
}

.subHeader {
    font-weight: bold;
    text-align: left;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 10px;
}

.toDoList {
    display: grid;
    grid-template-rows: 2;
    height: auto;
    background-color: white;
    padding: 5px;
}

.toDoList__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.toDoList__form--newTask {
    flex-basis: 75%;
    flex-grow: 1;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.toDoList__form--taskButton {
    flex-grow: 1;
    background-color: teal;
    color: white;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.toDoList__form--taskButton:hover {
    background-color: hsl(180, 100%, 30%);
}

.list {
    height: auto;
    background-color: white;
    padding: 20px;
}

.list__tasks {
    word-break: break-word;
    flex-basis: 100%;
    padding: 0;
    list-style-type: none;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    align-items: center;
}

.list__button {
    text-align: center;
    padding: 5px;
    width: 25px;
    height: 25px;
    margin: 0 10px;
    border: none;
    color: white;
    font-size: 16px;
}

.list__item--text{
    word-break: break-all;
}

.list__button--done {
    background-color: green;
}

.list__button--remove {
    background-color: red;
}